html
  head
    title Hello #{page_title}
  body
    div PRIMARY NAV
    div
      h1 Heading
      p User Name
      div
        h3 Current Location
        ul
          li LOCAL NAV 1
          li LOCAL NAV 2
          li LOCAL NAV 3
      div PAGE CONTENTS
